# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules
package-lock.json
./Assets/img/Video da intro.mp4
.github
 Public/Assets/img/Vídeo da home.mp4
 Public/Assets/img/Ferrari LaFerrari - Video ‐ Feito com o Clipchamp.mp4
