* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url('../img/FERRARI.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Container geral */
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Formulário de login */
.form-login {
  width: 35%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: relative;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.1);
}

.form-login h4 {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
  font-weight: 600px;
  letter-spacing: 5px;
}


/* Gradiente de transição entre login e imagem */
.form-login::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 0;
  width: 60px;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

/* Títulos dos campos */
.campo p {
  color: #fff;
  margin-bottom: 0.5rem;
  font-weight: 300px;
}

/* Inputs estilizados */
input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Espaço entre os campos */
.campo {
  margin-bottom: 2rem;
}

/* Botão com efeito LED */
.botao {
  width: 50%;
  align-self: center;
  margin-top: 0.8rem;
  padding: 0.75rem;
  border: none;
  background-color: #830000;
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 8px #990000, 0 0 15px #b10101;
}

.botao:hover {
  background-color: #cc0000;
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}

/* Link para cadastro */
.link-cadastro {
  margin-top: 3rem;
  color: white;
  font-size: 0.95rem;
  text-align: center;
}

.link-cadastro a {
  color: #830000;
  line-height: 2rem;
  text-decoration: none;
}

.link-cadastro a:hover {
  text-decoration: underline;
}

/* Mensagem personalizada */
.mensagem {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: #830000;
  font-size: 0.9rem;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
}